body {
  font-family: roboto;
  margin: 0;
  background-color: rgb(1, 4, 9);
}
.navbar {
  display: flex;
  background-color: black;
  color: white;
}

.logo img {
  width: 45%;
  padding: 5px;
}

#profile-img {
  width: 50%;
  border-radius: 50%;
  height: 45px;
  padding-top: 10px;
}

.list li {
  display: inline;
  margin-right: 2%;
}

.search {
  width: 10%;
  padding: 12px;
}

.logo {
  width: 5%;
  text-align: right;
}

.option {
  width: 75%;
}

.profile {
  width: 5%;
}

a {
  text-decoration: none;
  color: white;
}

#search-input {
  background-color: black;
  color: white;
  border: 0;
  border: 1px solid white;
  border-radius: 5px;
  width: 120%;
  height: 3vh;
}

#repo-btn {
  width: 40%;
  height: 3vh;
  border: 0;
  background-color: rgb(35, 134, 54);
  color: white;
  font-size: 15px;
  border-radius: 8px;
  margin-left: 2em;
  margin-top: 5px;
}

#main {
  border: 1px solid black;
  width: 100%;
  display: flex;
}

.sidebar {
  border: 1px solid black;
  width: 18%;
  height: 60em;
  background-color: rgb(13, 17, 23);
}
.repo-head {
  color: white;
  font-size: 20px;
  display: inline;
  margin-left: 1em;
}

.body-part {
  border: 1px solid black;
  width: 100%;
}

.first-part {
  border: 1px solid white;
  width: 60%;
  color: white;
  height: 160px;
  margin: 3em 0px 0px 2em;
  border-radius: 10px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 73%,
    rgba(0, 0, 0, 1) 100%
  );
}

.btn {
  width: 15%;
  height: 3vh;
  border: 0;
  background-color: rgb(35, 134, 54);
  color: white;
  font-size: 15px;
  border-radius: 8px;
  margin-top: 15px;
  margin-left: 10px;
}

.head-1 {
  font-size: 25px;
  margin: 0;
  padding-top: 15px;
  margin-left: 10px;
}

.head-2 {
  font-size: 18px;
}

.act {
  color: white;
  font-size: 20px;
  margin: 2em 0em 0em 2em;
}
